body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  background-color: #282c34;
}

.big-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.page-title {
  color: white;
}

.small-container {
  margin: 0;
  padding: 50px 0 70px 0;
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
}

.pages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .small-container {
    flex-direction: column;
    align-items: center;
    gap: 75px;
  }
}