.results-heading {
  margin: 0;
  color: #ffffff;
}

.results-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}