body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 2em;
}

.navbar {
    background-color: #302a2a;
    position: fixed;
    top: 100;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #434040;
    border-radius:100px;
}

.content {
    padding: 45px;
}

.hidden {
    display: none;
}